<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoGo Security</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
		    <h1>Привет, одмен</h1>
        <p>Все сервера уже давно упали, админить нечего</p>
        <p>Флаг: <code>uctf_untrusted_proxy</code></p>
	    </div>

	    <ul class="bg-bubbles">
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
	    </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>

