<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CTF Task</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
		    <h1>Not registered</h1>
        	<p>The flag is somewhere near, but I don't know where :(</p>
            <p>Maybe you can see it</p>
	    </div>

	    <ul class="bg-bubbles">
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
	    </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>
