<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoGo Security Systems</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
		    <h1>GoGo Security</h1>
            <p>Мировой лидер по безопасности</p>
            <p>Здравствуйте, гость сайта!</p>
	    </div>

	    <ul class="bg-bubbles">
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
	    </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>

