<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoGo Security</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
		    <h1>Приветствую, Admin</h1>

            <p>Доход GoGo за последние 24 часа: -22.84 BTC</p>

            <p>Факт дня: флаг равен <code>uctf_need_more_easy_web_tasks</code></p>
	    </div>

	    <ul class="bg-bubbles">
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
	    </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>

